html {
    display: flex;
}

body {
    position: relative;
    height: 100%;
    margin: 0%;
}

:focus {
    outline-color: dimgray;
}

h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    background: rgb(42, 42, 42);
    border: 20px solid rgb(42, 42, 42);
    margin: 0%;
}

.Logo {
    position: relative;
    width: 15%;
}

#regions {
    z-index: 1;
    position: sticky;
    top: 0%;
    text-align: center;
    background: linear-gradient(to top, black, dimgray);
    width: 100%;
}


.regionImage {
    position: relative;
    width: 5%;    
    transition: all .25s ease-out;
}


.regionImage:hover {
    -moz-box-shadow:     0px 3px 18px black;
    -webkit-box-shadow:  0px 3px 18px black;
    box-shadow:          0px 3px 18px black;
}

.regionImage:focus {
    -moz-box-shadow:     0px 3px 18px black;
    -webkit-box-shadow:  0px 3px 18px black;
    box-shadow:          0px 3px 18px black;
}


.regionImagePressed {
    position: relative;
    width: 5%;
    box-shadow: inset 0px 6px 18px black;
    transition: all .25s ease-out;
}

.regionImagePressed:hover {
    background: dimgray;
}

.regionImagePressed:focus {
    background: dimgray;
}

#cards{
    position: relative;
    z-index: 0;
    background: rgb(42, 42, 42);
}

.card {
    max-width: 10%;
}

@media (max-width: 1000px) {
    .card{
        max-width: 20%;
    }

    h1 {
        border: 10px;
    }

    .logo {
        width: 25%;
        max-width: 25%;
    }

    .regionImage{
        width: 8%;
        max-width: 8%;
    }

    .regionImagePressed{
        width: 8%;
        max-width: 8%;
    }
}

@media (max-width: 600px) {
    .card{
        max-width: 33.333333%;
    }

    h1{
        border: 0;
    }

    .logo {
        width: 50%;
        max-width: 50%;
    }

    .regionImage{
        width: 14.285714%;
        max-width: 14.285714%;
    }

    .regionImagePressed{
        width: 14.285714%;
        max-width: 14.285714%;
    }
}

