html {
    display: flex;
}

@font-face {
    font-family: optimus-princeps;
    src: url(Resources/OptimusPrinceps.ttf);
  }

body {
    position: relative;
    height: 100%;
    margin: 0%;
}

:focus {
    outline-color: dimgray;
}

h1 {
    font-family: optimus-princeps;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background: rgb(42, 42, 42);
    border: 10px solid rgb(42, 42, 42);
    margin: 0%;
}

footer {
    display: flex;
    color: lightgray;
    background: rgb(35, 35, 35);
    margin: 0%;
    align-content: space-between;
}

.disclaimer {
    width: 50%;
}

.personal {
    display: flex;
    order: -1;
    flex-direction: column;
    align-content: space-around;
    width: 50%;
}

a {
    color: rgb(255, 202, 55);
}

#nav {
    display: flex;
    position: sticky;
    z-index: 1;
    flex-direction: column;
    align-items: center;    
    top: 0%;
}

.Logo {
    position: relative;
    font-size: 60px;
    margin: 0%;
    color: rgb(255, 202, 55);
}


#regions {
    display: flex;
    background: linear-gradient(to top, black, dimgray);
    justify-content: center;
    width: 100%;
}

#subnav {
    background: rgb(19, 19, 19);
    width: 100%;
}

#search {
    color: lightgray;
}

#blank {
    width: calc(width);
}

.regionImage {
    position: relative;
    width: 5%;    
    transition: all .25s ease-out;
}


.regionImage:hover {
    -moz-box-shadow:     0px 3px 18px black;
    -webkit-box-shadow:  0px 3px 18px black;
    box-shadow:          0px 3px 18px black;
}

.regionImage:focus {
    -moz-box-shadow:     0px 3px 18px black;
    -webkit-box-shadow:  0px 3px 18px black;
    box-shadow:          0px 3px 18px black;
}


.regionImagePressed {
    position: relative;
    width: 5%;
    box-shadow: inset 0px 6px 18px black;
    transition: all .25s ease-out;
}

.regionImagePressed:hover {
    background: dimgray;
}

.regionImagePressed:focus {
    background: dimgray;
}

#cards{
    background: rgb(42, 42, 42);
}

.thumbnail {
    position: relative;
    max-width: 10%;
}

.thumbnail:hover {
    transform: scale(1.5);
    z-index: 5;
}

@media screen and (max-width: 1000px) {
    .thumbnail{
        max-width: 20%;
    }

    .regionImage{
        width: 8%;
        max-width: 8%;
    }

    .regionImagePressed{
        width: 8%;
        max-width: 8%;
    }
}

@media screen and (max-width: 600px) {
    .thumbnail{
        max-width: 33.333333%;
    }

    .regionImage{
        width: 14.285714%;
        max-width: 14.285714%;
    }

    .regionImagePressed{
        width: 14.285714%;
        max-width: 14.285714%;
    }
}

